.letrai{
    font-family: Nunito,Helvetica,Arial,sans-serif;
    background-color: #1d1f20;
    color: aliceblue;
    margin-left: 100px;
    width: 300px;
    height: 100vh;

}
.bodyweb{
    display: flex;
}
.lephai{
    width: calc(100%-300px);
    background-color: #1d1f20;
    color: aliceblue;
    width: 100vw;
}
.anh12{
    display: flex;
    border: red solid 1px;

}
.chu1{
    padding-top: 100px;
    padding-left: 50px;
}
.chu1:hover{
    color: chocolate;
    --tw-shadow: 0 35px 60px -15px rgba(0,0,0,0.3);
}
